{% extends 'base.html'%}

{% block content %}
<div class="container">
    {% if cart_products %}
    {% for product in cart_products %}
    <!--{{ product }} £{{ product.price }}-->
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <div id="carouselProductDetail{{ product.id }}" class="carousel slide">
                    <div class="carousel-inner">
                        {% for image in product.images.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img class="d-block w-100" src="{{ image.image.url }}" alt="Product Image {{ forloop.counter }}">
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselProductDetail{{ product.id }}" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselProductDetail{{ product.id }}" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <p class="lead">{{ product.description }}</p>
                <div class="d-flex">
                    {% if product.on_sale %}
                    <div class="price">
                        <strike class="text-muted me-2">£{{ product.price }}</strike>
                        £{{ product.sale_price }}
                    </div>
                    {% else %}
                    <div class="price">£{{ product.price }}</div>
                        <br>
                        <!-- PRODUCT ID TAKE OUT AT END OF FIRST DEV CYCLE -->
                        ID: {{ product.id }}
                    {% endif %}
                </div>
                <br>
                <br>
    
                <div class="d-flex mt-3">
                    <!--Un-needed quantity-->
                    <!--<input class="form-control me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem;" />-->
                    <button class="btn btn-dark delete-product" type="button" data-index="{{ product.id }}" id="delete-product">
                        <i class="bi-cart-fill me-1"></i>
                        Delete Item
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Cart total -->
    <h2>Total:£{{ totals }} </h2>
    <br>
    <br>
    <br>
    {% else %}
    
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-black">
                <h1 class="display-4 fw-bolder">Basket</h1>
                <p class="lead fw-normal text-black-50 mb-0">Your Basket is empty.</p>
            </div>
            <div class="d-flex mt-3">
                <a class="btn btn-dark" type="button" href="{% url 'home' %}" id="">
                    Shop Websites
                </a>
            </div>
        </div>

<!-- Related products -->
<section class="py-5 bg-light rounded-border">
    <div class="container px-4 px-lg-5 my-5">
        <h3 class="fw-bolder mb-4 cart-related-title">Recommended for you</h3>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for related_product in related_products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image -->
                    <img class="card-img-top" src="{{ related_product.images.first.image.url }}" alt="..." />
                    <!-- Product details -->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name -->
                            <h5 class="fw-bolder">{{ related_product.name }}</h5>
                            <!-- Product price -->
                            {% if related_product.on_sale %}
                            <strike class="text-muted me-2">£{{ related_product.price }}</strike>
                            £{{ related_product.sale_price }}
                            {% else %}
                            £{{ related_product.price }}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Product actions -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' related_product.id %}">View Product</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
    {% endif %}
</div>
<br>
<br>
<br>
<br>
<br>

<script>

$(document).on('click', '.update-cart', function(e){
    e.preventDefault();
    var productid = $(this).data('index');

    $.ajax({
        type: 'POST',
        url: '/cart/update/',  // Replace this with the actual URL
        data: {
            product_id: $(this).data('index'),
            product_qty: $('#select' + productid + ' option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(json){
            location.reload();
        },
        error: function(xhr, errmsg, err){
            // Handle errors
        }
    });
});

$(document).on('click', '.delete-product', function(e){
    e.preventDefault();
    
    $.ajax({
        type: 'POST',
        url: '/cart/delete/',  // Replace this with the actual URL
        data: {
            product_id: $(this).data('index'),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(json){
            location.reload();
        },
        error: function(xhr, errmsg, err){
            // Handle errors
        }
    });
});

</script>

{% endblock %}