{% extends 'base.html'%}

{% block content %}

        <!-----Header / Hero Section ----->

        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Checkout</h1>
                    <p class="lead fw-normal text-white-50 mb-0">View your cart</p>
                </div>
            </div>
        </header>
<br>
<br>
<div class="container">
    {% if cart_products %}
    {% for product in cart_products %}
    <!--{{ product }} £{{ product.price }}-->
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" alt="Product Image" />
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <p class="lead">{{ product.description }}</p>
    
                <div class="d-flex">
                    {% if product.on_sale %}
                        <div class="price">
                            <strike class="text-muted me-2">£{{ product.price }}</strike>
                            £{{ product.sale_price }}
                        </div>
                    {% else %}
                        <div class="price">£{{ product.price }}</div>
                        <br>
                        <!-- PRODUCT ID TAKE OUT AT END OF FIRST DEV CYCLE -->
                        ID: {{ product.id }}
                    {% endif %}
                </div>
                <br>
                <br>
                <!--Quantity drop down menu delete or re purpose -->
                <!--<div class="col-md-2">
                <select class="form-select" aria-label="Default select example" id="select{{ product.id }}">
                        {% for key, value in quantities.item %}

                            {% if key == product.id|slugify %}
                        <option selected>
                            {{ value }}
                        </option>
                            {% endif %}

                        {% endfor %}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
                </div>-->
    
                <div class="d-flex mt-3">
                    <!--Un-needed quantity-->
                    <!--<input class="form-control me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem;" />-->
                    <button class="btn btn-dark delete-product" type="button" data-index="{{ product.id }}" id="delete-product">
                        <i class="bi-cart-fill me-1"></i>
                        Delete Item
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Cart total -->
    <h2>Total:£{{ totals }} </h2>
    <br>
    <br>
    <br>
    {% else %}
    <div class="container">
        Cart Empty..
        <div class="d-flex mt-3">
            <a class="btn btn-dark" type="button" href="{% url 'home' %}" id="">
                Shop Websites
            </a>
        </div>
    </div>
    {% endif %}
</div>
<br>
<br>
<br>
<br>
<br>

<script>

$(document).on('click', '.update-cart', function(e){
    e.preventDefault();
    var productid = $(this).data('index');

    $.ajax({
        type: 'POST',
        url: '/cart/update/',  // Replace this with the actual URL
        data: {
            product_id: $(this).data('index'),
            product_qty: $('#select' + productid + ' option:selected').text(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(json){
            location.reload();
        },
        error: function(xhr, errmsg, err){
            // Handle errors
        }
    });
});

$(document).on('click', '.delete-product', function(e){
    e.preventDefault();
    
    $.ajax({
        type: 'POST',
        url: '/cart/delete/',  // Replace this with the actual URL
        data: {
            product_id: $(this).data('index'),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },
        success: function(json){
            location.reload();
        },
        error: function(xhr, errmsg, err){
            // Handle errors
        }
    });
});

</script>

{% endblock %}