{% extends 'base.html' %}
{% load static %}
{% block content %}

<header class="hero-section">
    <div class="container">
        <div class="row justify-content-center"> <!-- Adding justify-content-center to center the column horizontally -->
            <div class="col-md-12 col-lg-12"> <!-- Adjust the column width as needed -->
                <div class="hero-card">
                    <div class="hero-content text-center">
                        <h1>
                            <span class="hero-h1-span visible"><img src="{% static '/assets/Digital (42).png' %}" alt="Company Logo"></span>
                            <span class="hero-h1-span visible"></span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <p class="text-muted">Flute is an innovative platform that empowers individuals and businesses to establish a strong online presence quickly and easily. Whether you're a small business owner, a creative professional, or an entrepreneur, Flute provides the tools and resources you need to build and manage your website efficiently.</p>
                <p class="text-muted">With Flute, you can choose from a variety of professionally designed templates tailored to different industries and purposes. These templates are fully customizable, allowing you to personalize your website to reflect your unique brand identity.</p>
                <p class="text-muted">Our user-friendly interface and intuitive drag-and-drop editor make it simple to add content, create pages, and update your website with ease. No coding skills are required!</p>
                <p class="text-muted">Whether you're selling products online, showcasing your portfolio, or promoting your services, Flute offers robust e-commerce features, marketing tools, and analytics to help you grow your online presence and reach your goals.</p>
                <p class="text-muted">Join Flute today and take the first step towards building a stunning website that attracts visitors, engages customers, and drives results.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}