{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Categories</h1>
            <p class="lead fw-normal text-white-50 mb-0">choose category below</p>
        </div>
    </div>
</header>

<br>
<br>
<br>
<div class="row">
    {% for category in categories %}
    <div class="col-12 col-sm-6 col-md-4 mb-5">
        <div class="card h-100">
            <!-- Product image-->
            <img class="card-img-top" src="{{ category.image.url }}" alt="{{ category.name }}" />
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">{{ category.name }}</h5>
                    <!-- Add any other details you want here -->
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                    <a class="btn btn-outline-dark mt-auto" href="{% url 'category' category %}">View Category</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}