{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop All Websites</h1>
            <p class="lead fw-normal text-white-50 mb-0">choose a category below</p>
        </div>
    </div>
</header>

<br>
<br>
<br>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-4">
    {% for category in categories %}
    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="{{ category.image.url }}" alt="{{ category.name }}" />
            <div class="card-body">
                <h5 class="card-title">{{ category.name }}</h5>
            </div>
            <div class="card-footer text-center">
                <a href="{% url 'category' category %}" class="btn btn-outline-dark">View Category</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}