{% extends 'base.html' %}
{% block content %}

<div class="container my-5">
    <form method="post" action="{% url 'customise' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <!--Company logo upload -->
        <div class="mb-3">
            <label for="Image" class="form-label">Upload Company Logo</label>
            <input class="form-control" type="file" id="productImage" name="product_image">
        </div>
        <!--Use Font as Company logo button-->
        <div class="mb-3">
            <label class="form-check-label">Use Company Name as Logo</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="use_default_font" id="useDefaultFont" value="true" checked>
            </div>
        </div>
        <!-- Upload work photos or use stock images -->
        <div class="mb-3">
            <label for="productPhotos" class="form-label">Upload Work/Company Photos (Multiple)</label>
            <input class="form-control" type="file" id="productPhotos" name="product_photos" multiple>
        </div>
        <!--  or use stock work images button -->
        <div class="mb-3">
            <label class="form-check-label">Use Stock Images Related to your company</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="use_stock_images" id="useStockImages" value="true">
                <label class="form-check-label" for="useStockImages"></label>
            </div>

        </div>
        <!-- Fonts - Search Bar -->
        <div class="mb-3">
            <label for="fontSearch" class="form-label">Search Available Fonts</label>
            <input type="text" class="form-control" id="fontSearch" name="font_search" placeholder="Enter font name">
        </div>
        <!-- Fonts - Use default fonts button -->
        <div class="mb-3">
            <label class="form-check-label">Default Font</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="use_default_font" id="useDefaultFont" value="true" checked>
            </div>
        </div>
        <!-- Company Slogan -->
        <div class="mb-3">
            <label for="companySlogan" class="form-label">Company Slogan</label>
            <input type="text" class="form-control" id="companySlogan" name="company_slogan" placeholder="Enter company slogan">
        </div>

        <!-- Pay Button -->
        <button type="submit" class="btn btn-primary" href="{% url 'category_summary' %}">Pay</button>
    </form>
</div>


{% endblock %}