{% extends 'base.html'%}
{% load static %}

{% block content %}

<header>
        <div class="hero-section d-flex align-items-center justify-content-center">
            <div class="container hero-content text-center">
                <h1 class="display-4 fw-bolder mb-4">Get online FAST with<img src="{% static 'assets/Flute Logo White New Ball.png' %}" alt="Company Logo"></h1>
                <p class="lead fw-normal mb-4">Getting started with Flute is easy! Simply sign up, choose a plan that suits your needs, and follow the guided steps to set up your website or online store.</p>
                <button type="button" class="btn ms-2 d-flex flex-column align-items-center" data-bs-toggle="modal" data-bs-target=".signup-modal" id="btn-custom">
                    <span id="nav-text">Sign Up</span>
                </button>
            </div>
        </div>
</header>

  



    
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 justify-content-center">
                {% for product in products %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5"> <!-- Adjust column classes here -->
                    <div class="card h-100 product-card">
                        {% if product.on_sale %}
                        <div class="badge bg-light text-black position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        {% endif %}
                        <div id="carouselProduct{{ product.id }}" class="carousel slide">
                            <div class="carousel-inner">
                                {% for image in product.images.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img class="d-block w-100 product-image img-fluid" src="{{ image.image.url }}" alt="Product Image {{ forloop.counter }}">
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselProduct{{ product.id }}" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselProduct{{ product.id }}" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                        <div class="card-body p-4 product-details">
                            <div class="text-center">
                                <h5 class="fw-bolder product-title">{{ product.name }}</h5>
                                {% if product.on_sale %}
                                <strike>£{{ product.price }}</strike>
                                <br>
                                £{{ product.sale_price }}
                                {% else %}
                                £{{ product.price }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">View Product</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
{% endblock %}
