{% extends 'base.html'%}
{% load static %}

{% block content %}

<!--<header>
    <div class="hero-wrapper">
        <div class="hero-border"></div>
        <div class="hero-section d-flex align-items-center">
            <div class="background-circles">
                <div class="circle circle1"></div>
                <div class="circle circle2"></div>
                <div class="circle circle3"></div>
            </div>
            <div class="container hero-content">
                <h1>
                    <span class="hero-h1-span visible">Get</span>
                    <span class="hero-h1-span visible">Online</span>
                    <span class="hero-h1-span visible">Fast</span>
                    <span class="hero-h1-span visible">with</span>
                    <span class="hero-h1-span visible"><img src="{% static 'assets/Flute Logo White New Ball.png' %}" alt="Company Logo"></span>
                </h1>
                <p class="lead fw-normal mb-4">Getting started with Flute is easy! Choose a plan that suits your needs, fill out our onboarding form, and we'll build your website within 7 days.</p>
                <a href="#" id="hero-btn" class="btn">Get Started</a>
            </div>
        </div>
    </div>
</header>-->

<header class="hero-section">
    <div class="container">
        <div class="row justify-content-center"> <!-- Adding justify-content-center to center the column horizontally -->
            <div class="col-md-12 col-lg-12"> <!-- Adjust the column width as needed -->
                <div class="hero-card">
                    <div class="hero-content text-center">
                        <h1>
                            <span class="hero-h1-span visible">Get</span>
                            <span class="hero-h1-span visible">Online</span>
                            <span class="hero-h1-span visible">Fast</span>
                            <span class="hero-h1-span visible">with</span>
                            <span class="hero-h1-span visible"><img src="{% static 'assets/Flute_Logo_White_New_Ball-removebg-preview.png' %}" alt="Company Logo"></span>
                        </h1>
                        <p>Getting started with Flute is easy! Choose a plan that suits your needs, fill out our onboarding form, and we'll build and your website within 7 days.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Services Section -->
<section id="services">
    <div class="container">
        <div id="service-items" class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Money Back Guarantee</h3>
                        <p>Professional web design services to give your business an online presence.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3>SEO</h3>
                        <p>Optimize your website to rank higher in search engines and attract more visitors.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Hosting</h3>
                        <p>Create a strong brand identity that sets you apart from the competition.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Updating your Website</h3>
                        <p>Create a strong brand identity that sets you apart from the competition.</p>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="text-center mt-5">Our Most Popular Websites</h2>
    </div>
</section>

    
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 justify-content-center">
                {% for product in products %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5"> <!-- Adjust column classes here -->
                    <div class="card h-100 product-card">
                        {% if product.on_sale %}
                        <div class="badge bg-light text-black position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                        {% endif %}
                        <div id="carouselProduct{{ product.id }}" class="carousel slide">
                            <div class="carousel-inner">
                                {% for image in product.images.all %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img class="d-block w-100 product-image img-fluid" src="{{ image.image.url }}" alt="Product Image {{ forloop.counter }}">
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselProduct{{ product.id }}" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselProduct{{ product.id }}" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                        <div class="card-body p-4 product-details">
                            <div class="text-center">
                                <h5 class="fw-bolder product-title">{{ product.name }}</h5>
                                {% if product.on_sale %}
                                <strike>£{{ product.price }}</strike>
                                <br>
                                £{{ product.sale_price }}
                                {% else %}
                                £{{ product.price }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">View Product</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


 


<!-- FAQ Header -->
<header class="hero-section">
    <div class="container">
        <div class="row justify-content-center"> <!-- Adding justify-content-center to center the column horizontally -->
            <div class="col-md-12 col-lg-12"> <!-- Adjust the column width as needed -->
                <div class="hero-card">
                    <div class="hero-content text-center">
                        <h1>FAQ</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!---Fag accordion -->
<section class="py-5">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="accordion" id="faqAccordion">

                    <!-- 1 What's included in every offer -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What's included for in each plan?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Flute is an online platform that helps you to get online quickly and easily. It provides
                                tools and resources to build and manage your online presence efficiently.
                            </div>
                        </div>
                    </div>

                    <!-- 2 How long does it take to get my website? -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How long does it take to get my website?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Getting started with Flute is easy! Simply sign up for an account, choose a plan that
                                suits your needs, and follow the guided steps to set up your website or online store.
                            </div>
                        </div>
                    </div>

                    <!-- 3 What platform are these websites built in? -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                What platform are these websites built in?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Yes, Flute offers a range of customization options to help you create a unique
                                website. You can choose from various templates, customize colors, fonts, and layouts,
                                and add your own content and branding.
                            </div>
                        </div>
                    </div>
                    
                    <!-- 4 What is our guarantee? -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                What is our guarantee?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Yes, Flute offers a range of customization options to help you create a unique
                                website. You can choose from various templates, customize colors, fonts, and layouts,
                                and add your own content and branding.
                            </div>
                        </div>
                    </div>

                    
                    <!-- 5 Do you get full ownership of your website? -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Do you get full ownership of your website?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Yes, Flute offers a range of customization options to help you create a unique
                                website. You can choose from various templates, customize colors, fonts, and layouts,
                                and add your own content and branding.
                            </div>
                        </div>
                    </div>

                    
                    <!-- 6 What is SEO? -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                What is SEO?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Yes, Flute offers a range of customization options to help you create a unique
                                website. You can choose from various templates, customize colors, fonts, and layouts,
                                and add your own content and branding.
                            </div>
                        </div>
                    </div>

                    
                    <!-- 7 How can I edit my website when its launched? -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                How can I edit my website when its launched?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Yes, Flute offers a range of customization options to help you create a unique
                                website. You can choose from various templates, customize colors, fonts, and layouts,
                                and add your own content and branding.
                            </div>
                        </div>
                    </div>

                    
                    <!-- Have a question that's not listed here? -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                Have a question that's not listed here?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Yes, Flute offers a range of customization options to help you create a unique
                                website. You can choose from various templates, customize colors, fonts, and layouts,
                                and add your own content and branding.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

    <script>
       document.addEventListener('DOMContentLoaded', () => {
    const spans = document.querySelectorAll('.hero-h1-span');
    spans.forEach((span, index) => {
        setTimeout(() => {
            span.classList.add('visible');
        }, index * 400); // Adjust the delay time as needed
    });
});

    </script>
    
{% endblock %}
