{% extends 'base.html'%}
{% load static %}

{% block content %}

<header>
    <div class="container">
      <div class="hero-section">
        <div class="hero-card">
          <div class="hero-content text-center">
            <h1>
              <span class="hero-h1-span visible"><img src="{% static 'assets/Digital (42).png' %}" alt="Company Logo"></span>
              <span class="hero-h1-span visible">We</span>
              <span class="hero-h1-span visible">Build</span>
              <span class="hero-h1-span visible">Websites<span class="hero-h1-span visible" id="dot-end">.</span></span>
              <span class="hero-h1-span visible" id="hero-dot"></span>
            </h1>
            <p>Get noticed online with Flute! Fill out our questionnaire, we'll build and launch your website within 14 days.</p>
          </div>
        </div>
      </div>
    </div>
  </header>


<section id="home-title-section">
    <div class="home-title-container">
        <h2 class="home-title-title">Start With Picking a Plan.</h2> <!-- Add your title here -->
        <p id="product-title-p">Get Online Fast With Flute.</p>
    </div>
</section>


<section class="py-1">
    <div class="product-container px-0 px-lg-0 mt-2 plans-con">
        <div class="product-container row justify-content-center">
            {% for product in products %}
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-5">
                <div class="card h-100 featured-product-card" style="border-radius: 20px;">
                    {% if product.on_sale %}
                    <div class="badge bg-light text-black position-absolute sale-badge">Sale</div>
                    {% endif %}
                    <div id="carouselProduct{{ product.id }}" class="carousel slide">
                        <div class="carousel-inner">
                            {% for image in product.images.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div id="img-container-featured">
                                    <a href="{% url 'product' product.id %}">
                                        <img class="d-block w-100 product-image img-fluid" src="{{ image.image.url }}" alt="Product Image {{ forloop.counter }}">
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselProduct{{ product.id }}" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselProduct{{ product.id }}" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="fw-bolder product-title">{{ product.name }}</h5>


                             <!-- What's Included Dropdown -->

                            <div class="product-included mb-2">
                                <button class="btn btn-link p-0 include-dropdown" type="button" data-bs-toggle="collapse" data-bs-target="#whatsIncluded" aria-expanded="false" aria-controls="whatsIncluded" id="detail-dropdown-home">
                                    What's Included &#x25be;
                                </button>
                                <div id="whatsIncluded">
                                    <ul class="include-list-detail">
                                        {% for benefit in product.benefits.all|slice:":6" %}
                                            <li id="benefit-list"><i class="fa-solid fa-circle dropdown-circle"></i>{{ benefit.description }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                                    
                            {% if product.on_sale %}
                            <h5 class="fw-bolder product-price-sale">£{{ product.sale_price }}</h5>
                            {% else %}
                            <h5 class="fw-bolder product-price">£{{ product.price }}</h5>
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-grid">
                        <a class="btn" id="home-product-button" href="{% url 'product' product.id %}">
                            View Plan
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="terms-section">
    <div class="terms-container">
        <div>
            <h1 class="terms-h1">*Prices displayed are inclusive of particular package details, please read product description.</h1>
        </div>
    </div>
</section>

<!-- Services section -->
<section id="services">
    <div class="services-container">
        <h2 class="animate-on-scroll">We Keep It Simple.</h2>
        <p id="services-title-p" class="animate-on-scroll">HOW DOES IT WORK?</p>
        <div id="service-items" class="row justify-content-center">
            <div class="col-md-4">
                <div class="card service-card animate-on-scroll">
                    <h3 class="service-card-h3"><span class="service-num">1</span>Our questionnaire</h3>
                    <p id="service-p">Start by filling out our easy-to-follow questionnaire. This helps us get to know your needs and goals.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card service-card animate-on-scroll">
                    <h3 class="service-card-h3"><span class="service-num">2</span>Design and Build</h3>
                    <p id="service-p">Based on your answers, our team will design and build a website that matches your vision.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card service-card animate-on-scroll">
                    <h3 class="service-card-h3"><span class="service-num">3</span>Review and Launch</h3>
                    <p id="service-p">Take a look at your new website. We'll make any tweaks you need. Once you're happy, we'll launch.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Why Flute?-->
<section class="why-section">
    <div class="why-container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="why-content">
                    <h2>Make Owning A Website Simple.</h2>
                    <p class="title-small-why">Why us?</p>
                    <p id="why-p-1">Flute offers a streamlined web development experience, delivering fully functional websites in just 14 days. Clients benefit from regular updates, transparent pricing without hidden fees, and responsive customer support available 24/7.</p>
                    <p id="why-p-2">Unlike traditional design agencies, Flute eliminates repetitive meetings and provides a seamless process from consultation to launch. Additionally, clients can take advantage of integrated marketing services to enhance their online presence.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div id="whyCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner scrollable-container">
                        <div class="carousel-item active">
                            <div id="img-container-why">
                                <img class="d-block w-100" id="detail-img-1" src="static/assets/painting-template.png" alt="Product Image 1" onclick="showImageModal('path/to/your/image1.jpg')">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div id="img-container-why">
                                <img class="d-block w-100" id="detail-img-2" src="static/assets/kitchen-template.png" alt="Product Image 2" onclick="showImageModal('path/to/your/image2.jpg')">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div id="img-container-why">
                                <img class="d-block w-100" id="detail-img-2" src="static/assets/cleaning template.png" alt="Product Image 2" onclick="showImageModal('path/to/your/image2.jpg')">
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#whyCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#whyCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- FAQ section Header -->

<header class="faq-section-header faq-header-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12">
                <div class="faq-card faq-card-bg">
                    <div class="faq-content text-center">
                        <h1 id="faq-header-home">FAQ</h1>
                        <p id="faq-p">Have a question that's not listed here?<a href="{% url 'contact' %}" class="faq-contact">Contact Us</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!---Faq accordion -->

<section class="py-5  faq-section">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="accordion" id="faqAccordion">

                   <!-- 1 What's included in every offer -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button id="accordion-button" class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What's included in each plan?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Each plan varies, but at a minimum, includes 1 year of hosting, a domain name for 1 year, a unique landing page or website, copywriting, optional stock images, monthly updates and on going support.
                            </div>
                        </div>
                    </div>

                    <!-- 2 How long does it take to get my website? -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button id="accordion-button" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How long does it take to get my website?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                We design, build, and launch our clients' websites in 7 days, pending their approval.
                            </div>
                        </div>
                    </div>

                    <!-- 3 What platform are these websites built in? -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button id="accordion-button" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                What platform are these websites built on?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                We build all our websites from scratch. This allows us to be fully flexible and for our clients' websites to scale easily with their businesses.
                            </div>
                        </div>
                    </div>

                    <!-- 4 Do I own my domain name? -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button id="accordion-button" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Do I own my domain name?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Domain names are "leased" rather than bought and owned. At Flute, we typically sign 1-year leases for domain names unless specified otherwise by clients.
                            </div>
                        </div>
                    </div>

                    <!-- 5 Will I own the website? -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button id="accordion-button" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Will I own the website?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                Yes, your website is yours. At Flute, we design, build, launch, and manage our clients' websites, but you're free to use your website as you wish.
                            </div>
                        </div>
                    </div>

                    <!-- 6 What is SEO? -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button id="accordion-button" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                What is SEO?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                SEO (Search Engine Optimization) is a set of strategies used to improve your website's visibility on search engines, helping more potential customers find you online.
                            </div>
                        </div>
                    </div>

                    <!-- 7 How can I edit my website when it's launched? -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                            <button id="accordion-button" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                How can I edit my website when it's launched?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                It's simple: we do it for you. We offer monthly revisions and updates over the course of our yearly plans. Flute provides a true A-Z solution. We manage our customers' sites to ensure accessibility standards are met, SEO is up-to-date, and changes to the site's copywriting or images don't affect responsiveness.
                            </div>
                        </div>
                    </div>

                     <!-- 8 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                            <button id="accordion-button" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                Do you offer a money back guarantee?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                            data-bs-parent="#faqAccordion">
                            <div class="accordion-body">
                                If you're not completely satisfied with our offerings before we launch your website or landing page, we'll gladly refund your investment, no questions asked. At Flute, ensuring your satisfaction is our priority, and we're committed to providing you with a risk-free experience.
                            </div>
                        </div>
                    </div> 

                </div>
            </div>
        </div>
    </div>
</section>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const spans = document.querySelectorAll('.hero-h1-span');
            spans.forEach((span, index) => {
                setTimeout(() => {
                    span.classList.add('visible');
                }, index * 400); // Adjust the delay time as needed
            });
        });

       // Function to check if an element is in viewport
        function isInViewport(element) {
            const rect = element.getBoundingClientRect();
            return (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );
        }

        // Function to add animation class when element is in viewport
        function addAnimationOnScroll() {
            const elements = document.querySelectorAll('.animate-on-scroll');

            elements.forEach(element => {
                if (isInViewport(element)) {
                    element.classList.add('animate');
                }
            });
        }

        // Initial check on page load
        document.addEventListener('DOMContentLoaded', addAnimationOnScroll);

        // Listen for scroll events and check visibility of elements
        window.addEventListener('scroll', addAnimationOnScroll);

    </script>
    
{% endblock %}
