{% load static %}


<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container px-4 px-lg-5">
        <!-- Brand Logo and Home Button -->
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'assets/Flute Logo White New Ball.png' %}" alt="FLUTE" style="height: 45px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">

             <!-- Conditional display of the search form -->
             {% if request.path != '/search/' %}
             <!-- Add a form in the navbar for quick search -->
             <form class="d-flex mx-auto" method="get" action="{% url 'search' %}" style="max-width: 550px; width: 100%;">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query">
                    <button class="btn btn-dark" type="submit">
                        <i class="bi bi-search text-white"></i> <!-- Change icon color to white -->
                    </button>
                </div>
            </form>
             {% endif %}
            
            <!-- Full Screen Drop Down Menu Displaying Support Links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownSupport" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        24/7 Support &#x25be;
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownSupport">
                        <!-- 24/7 Support link -->
                        <li class="nav-item"><a class="nav-link" href="{% url 'faqs' %}" id="nav-text" >FAQs</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}" id="nav-text">Contact Us</a></li>
                        <!-- Divider -->
                        <li><hr class="dropdown-divider" /></li>
                        <!-- About link -->
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}" id="nav-text">About Flute</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        
        <!-- Sign in and Update account dropdown menu -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex flex-column align-items-center" href="#" id="navbarDropdownAccount" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-user mb-1"></i>
                        <span class="d-block" id="nav-text">Account</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownAccount">
                        <li><a class="dropdown-item" href="{% url 'logout' %}" id="nav-text">Sign Out</a></li>
                        <li><a class="dropdown-item" href="{% url 'update_user' %}" id="nav-text">Orders</a></li>
                        <li><a class="dropdown-item" href="{% url 'update_user' %}" id="nav-text">Update Account</a></li>
                    </ul>
                </li>
            {% else %}
            <li class="nav-item">
                <a class="btn ms-2 d-flex flex-column align-items-center" href="{% url 'login' %}">
                    <i class="fa-solid fa-user mb-1"></i>
                    <span id="nav-text">Log In</span>
                </a>
            </li>
                <!--Point un auth users to login form doubling as sign up form-->
                <!--li class="nav-item">
                    <a class="btn btn-outline-dark ms-2" href="{% url 'register' %}">Join</a>
                </li--->
            {% endif %}
        </ul>

       <!-- Cart Icon and Cart Quantity -->
       <form class="d-flex align-items-center">
        <a class="btn ms-2 btn-custom d-flex flex-column align-items-center text-center" href="{% url 'cart_summary' %}">
            <i class="fas fa-shopping-basket mb-1" id="basket-icon"></i>
            <span id="nav-text">Basket</span>
        </a>
        {% if cart|length > 0 %}
            <span class="ms-2 badge " id="cart_quantity">{{ cart|length }}</span>
        {% endif %}
    </form>


    </div>
</div>
</nav>



                         <!-- Separate Navigation Bar for Category Items -->
                         <nav id="second-navbar">
                            <div class="container">
                                <ul>
                                    <li><a href="{% url 'category_summary' %}">Shop all Websites - </a></li>
                                    <li><a href="{% url 'category' 'Commerce' %}">E-Commerce</a></li>
                                    <li><a href="">Blog</a></li>
                                    <li><a href="">Educational Websites</a></li>
                                    <li><a href="{% url 'category' 'Construction' %}">Business/Corporate</a></li>
                                    <li><a href="">Portfolio Websites</a></li>
                                    <li><a href="">Personal Websites</a></li>
                                </ul>
                            </div>
                        </nav>
                        
