{% load static %}


<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container px-4 px-lg-5">
        <!-- Brand Logo and Home Button -->
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'assets/Flute Logo White New Ball.png' %}" alt="FLUTE" style="height: 35px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

             <!-- Conditional display of the search form -->
             {% if request.path != '/search/' %}
             <!-- Add a form in the navbar for quick search -->
             <form class="d-flex mx-auto" method="get" action="{% url 'search' %}" style="max-width: 650px; width: 100%;">
                 <div class="input-group">
                     <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query">
                     <button class="btn btn-outline-dark" type="submit">
                         <i class="bi bi-search"></i>
                     </button>
                 </div>
             </form>
             {% endif %}

             <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <!-- Full Screen Drop Down Menu Displaying Categories -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownStore" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Store &#x25be;
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownStore">
                        <li><a class="dropdown-item" href="{% url 'category_summary' %}">All Categories</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Commerce' %}">E-Commerce</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Construction' %}">Construction</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'Restaurant' %}">Restaurant</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <!-- Full Screen Drop Down Menu Displaying Support Links -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownSupport" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        24/7 Support &#x25be;
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownSupport">
                        <!-- 24/7 Support link -->
                        <li class="nav-item"><a class="nav-link" href="">Support</a></li>
                        <!-- Divider -->
                        <li><hr class="dropdown-divider" /></li>
                        <!-- About link -->
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Flute</a></li>
                    </ul>
                </li>
            </ul>
        </div>

            <!-- Sign in and Update account dropdown menu -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownAccount">
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a></li>
                            <li><a class="dropdown-item" href="{% url 'update_user' %}">Update Account</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn ms-2" href="{% url 'login' %}">Sign In</a>
                    </li>
                    <!--li class="nav-item">
                        <a class="btn btn-outline-dark ms-2" href="{% url 'register' %}">Join</a>
                    </li--->
                {% endif %}
            </ul>

            <!-- Cart Icon and Cart Quantity -->
            <form class="d-flex">
                <a class="btn btn---bs-white: #fff" href="{% url 'cart_summary' %}">
                    <i class="fas fa-shopping-basket me-1"></i>
                    {% if cart|length > 0 %}
                    <span class="text- ms-1" id="cart_quantity">
                        {{ cart|length }}
                    </span>
                {% endif %}
                </a>
            </form>

        </div>
    </div>
</nav>