{% extends 'base.html' %}
{% block content %}
<!-- Product section -->
<section id="detail-section">
    <div class="container px-4 px-lg-5 my-4">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6" id="title-carousel-container">
                <!-- Product Name -->
                <div id="title-container">
                    <h1 class="display-5 fw-bolder mt-0 pt-0" id="product-detail-title">{{ product.name }} Plan</h1>
                </div>
                <div id="carousel-container">
                    <div id="carouselProductDetail{{ product.id }}" class="carousel slide">
                        <div class="carousel-inner">
                            {% for image in product.images.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div id="img-container-detail">
                                    <img class="d-block w-100" id="detail-img-{{ forloop.counter }}" src="{{ image.image.url }}" alt="Product Image {{ forloop.counter }}" onclick="showImageModal('{{ image.image.url }}')">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselProductDetail{{ product.id }}" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselProductDetail{{ product.id }}" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Modal Structure -->
            <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="img-modal-title">Example Website</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color:#0A5C5A;"></button>
                        </div>
                        <div class="modal-body">
                            <div id="modal-img-container">
                                <img id="modal-img" class="img-fluid" src="" alt="Expanded Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="details-container">
                <div class="d-flex flex-column">
                    <!-- Basic Description -->
                    <div class="mb-1">
                        <p class="product-details">{{ product.description }}</p>
                    </div>
                    <!-- What's Included Dropdown -->
                    <div class="mb-1">
                        <button class="btn btn-link p-0 include-dropdown" type="button" data-bs-toggle="collapse" data-bs-target="#whatsIncluded" aria-expanded="false" aria-controls="whatsIncluded" id="detail-dropdown">
                            What's Included &#x25be;
                        </button>
                        <div id="whatsIncluded">
                            <ul class="include-list-detail">
                                {% for benefit in product.benefits.all %}
                                    <li><i class="fa-solid fa-circle dropdown-circle"></i>{{ benefit.description }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- Product Price -->
                    <div class="mb-2">
                        {% if product.on_sale %}
                        <div class="price">
                            <strike class="text-muted me-2">£{{ product.price }}</strike>
                            £{{ product.sale_price }}
                        </div>
                        {% else %}
                        <div id="price-detail">£{{ product.price }}</div>
                        {% endif %}
                    </div>
                    <!-- Value Add -->
                    <div class="d-flex align-items-center mb-3 value-add">
                        <div class="me-3">
                        <i class="fa-regular fa-clock value-icons"></i> 7-day delivery
                        </div>
                        <div class="me-3">
                        <i class="fa-solid fa-headset value-icons"></i> 24-7 Support
                        </div>
                        <div class="me-3">
                        <i class="fa-solid fa-rotate value-icons"></i> Unlimited Revisions Until Launch
                        </div>
                    </div>
                    <!-- Continue Button -->
                    <div class="d-grid button-container">
                        <a id="openModalBtn" class="btn" style="color:#fff; background-color: #0A5C5A; font-family: 'Inter', sans-serif; border-radius: 24px; font-weight: 500;">
                            Continue <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Customise form pop up -->
<div id="customizeFormModal" class="modal">
    <div class="modal-content">
        <span class="closeBtn">&times;</span>
        <section class="customize-form-section">
            <div class="form-container">
                <form method="POST" action="{% url 'register_and_customize' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <h5 class="customise-form-title">Tell us about your business.</h5>
                    <p class="form-p">Don't worry, you can request that this information is changed and added to at any point during the design process.</p>
                    <!--Company info -->
                    <div class="form-group">
                        <label for="id_company_name">Business Name</label>
                        <input type="text" name="company_name" id="id_company_name" class="form-control" placeholder="" value="{{ form.company_name.value|default:'' }}">
                    </div>
                    <!--Contact info for site-->
                    <div class="form-group">
                        <label for="id_email">Business Email</label>
                        <input type="email" name="email" id="id_email" class="form-control" placeholder="Email Address" value="{{ form.email.value|default:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="id_phone">Business Phone Number </label>
                        <input type="tel" name="phone" id="id_phone" class="form-control" placeholder="Phone Number" value="{{ form.phone.value|default:'' }}">
                    </div>
                    <!--Social media urls -->
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="id_instagram">Instagram</label>
                            <input type="text" name="instagram" id="id_instagram" class="form-control" placeholder="Instagram Username" value="{{ form.instagram.value|default:'' }}">
                        </div>
                        <div class="form-group col">
                            <label for="id_facebook">Facebook</label>
                            <input type="text" name="facebook" id="id_facebook" class="form-control" placeholder="Facebook Page URL" value="{{ form.facebook.value|default:'' }}">
                        </div>
                    </div>
                   <div class="form-row"> 
                        <div class="form-group col">
                            <label for="id_twitter">Twitter</label>
                            <input type="text" name="twitter" id="id_twitter" class="form-control" placeholder="Twitter Username" value="{{ form.twitter.value|default:'' }}">
                        </div>
                        <div class="form-group col">
                            <label for="id_linkedin">LinkedIn</label>
                            <input type="text" name="linkedin" id="id_linkedin" class="form-control" placeholder="LinkedIn Profile URL" value="{{ form.linkedin.value|default:'' }}">
                        </div>
                   </div>
                   <!--Company info -->
                    <div class="form-group">
                        <label for="id_company_established">Company Established</label>
                        <input type="date" name="company_established" id="id_company_established" class="form-control" value="{{ form.company_established.value|default:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="id_offered_services">Services you offer</label>
                        <input type="text" name="offered_services" id="id_offered_services" class="form-control" placeholder="What services do you offer?" value="{{ form.offered_services.value|default:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="id_company_values">Company values</label>
                        <input type="text" name="company_values" id="id_company_values" class="form-control" placeholder="Slogan, brand beliefs etc" value="{{ form.company_values.value|default:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="id_about_company">About Your Business</label>
                        <textarea name="about_company" id="id_about_company" class="form-control" placeholder="What sets you apart from your competitors?">{{ form.about_company.value|default:'' }}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_target_market">Target Market</label>
                        <input type="text" name="target_market" id="id_target_market" class="form-control" placeholder="Target Market" value="{{ form.target_market.value|default:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="id_company_location">Company Location</label>
                        <input type="text" name="company_location" id="id_company_location" class="form-control" placeholder="Company Location" value="{{ form.company_location.value|default:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="id_areas_covered">Areas Your Business Covers</label>
                        <input type="text" name="areas_covered" id="id_areas_covered" class="form-control" placeholder="Areas Your Business Covers" value="{{ form.areas_covered.value|default:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="id_common_questions">Common questions your customers ask</label>
                        <input type="text" name="common_questions" id="id_common_questions" class="form-control" placeholder="What common questions do your customers ask?" value="{{ form.common_questions.value|default:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="id_special_offers">Special discounts or promotions</label>
                        <input type="text" name="special_offers" id="id_special_offers" class="form-control" placeholder="" value="{{ form.special_offers.value|default:'' }}">
                    </div>
                    <hr>
                    <!--Design info -->
                    <h5 class="customise-form-title-second">Your Design</h5>
                    <p class="form-p-domain">Let us know what style(s) you prefer.</p>
                    <div class="unique-form-group">
                        <div class="unique-form-check">
                            <input class="unique-form-check-input" type="checkbox" name="design_style" id="modern_design" value="Modern Design" {% if 'Modern Design' in form.design_style.value %} checked {% endif %}>
                            <label class="unique-form-check-label" for="modern_design">Modern</label>
                        </div>
                        <div class="unique-form-check">
                            <input class="unique-form-check-input" type="checkbox" name="design_style" id="vintage_design" value="Vintage Design" {% if 'Vintage Design' in form.design_style.value %} checked {% endif %}>
                            <label class="unique-form-check-label" for="vintage_design">Minimalist</label>
                        </div>
                        <div class="unique-form-check">
                            <input class="unique-form-check-input" type="checkbox" name="design_style" id="dark_theme_design" value="Dark Theme Design" {% if 'Dark Theme Design' in form.design_style.value %} checked {% endif %}>
                            <label class="unique-form-check-label" for="dark_theme_design">Dark Theme</label>
                        </div>
                        <div class="unique-form-check">
                            <input class="unique-form-check-input" type="checkbox" name="design_style" id="light_theme_design" value="Light Theme Design" {% if 'Light Theme Design' in form.design_style.value %} checked {% endif %}>
                            <label class="unique-form-check-label" for="light_theme_design">Light Theme</label>
                        </div>
                        <div class="unique-form-check">
                            <input class="unique-form-check-input" type="checkbox" name="design_style" id="futuristic_design" value="Futuristic Design" {% if 'Futuristic Design' in form.design_style.value %} checked {% endif %}>
                            <label class="unique-form-check-label" for="futuristic_design">Black & White</label>
                        </div>
                        <div class="unique-form-check">
                            <input class="unique-form-check-input" type="checkbox" name="design_style" id="bold_colors_design" value="Bold Colors Design" {% if 'Bold Colors Design' in form.design_style.value %} checked {% endif %}>
                            <label class="unique-form-check-label" for="bold_colors_design">Bold Colours</label>
                        </div>
                        <div class="unique-form-check">
                            <input class="unique-form-check-input" type="checkbox" name="design_style" id="pastel_colors_design" value="Pastel Colors Design" {% if 'Pastel Colors Design' in form.design_style.value %} checked {% endif %}>
                            <label class="unique-form-check-label" for="pastel_colors_design">Pastel Colours</label>
                        </div>
                        <div class="unique-form-check">
                            <input class="unique-form-check-input" type="checkbox" name="design_style" id="professional_design" value="Professional Design" {% if 'Professional Design' in form.design_style.value %} checked {% endif %}>
                            <label class="unique-form-check-label" for="professional_design">Professional</label>
                        </div>
                        <div class="unique-form-check">
                            <input class="unique-form-check-input" type="checkbox" name="design_style" id="playful_design" value="Playful Design" {% if 'Playful Design' in form.design_style.value %} checked {% endif %}>
                            <label class="unique-form-check-label" for="playful_design">Playful</label>
                        </div>
                        <div class="unique-form-check">
                            <input class="unique-form-check-input" type="checkbox" name="design_style" id="bold_typography_design" value="Bold Typography Design" {% if 'Bold Typography Design' in form.design_style.value %} checked {% endif %}>
                            <label class="unique-form-check-label" for="bold_typography_design">Bold Typography</label>
                        </div>
                    </div>
                        <hr>
                    <div class="form-group">
                        <p class="form-p-domain">Your Domain name, we'll shop around and include the best deals and options in your design proposal.</p>
                        <label for="id_domain_name">Domain Name</label>
                        <input type="text" name="domain_name" id="id_domain_name" class="form-control" placeholder="www.yourcompany.com" value="{{ form.domain_name.value|default:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="id_primary_goal">Whats the goal of your landing page / Website? </label>
                        <input type="text" name="primary_goal" id="id_primary_goal" class="form-control" placeholder="Lead generation, event registration" value="{{ form.primary_goal.value|default:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="id_brand_assets">Preferred brand assets</label>
                        <input type="text" name="brand_assets" id="id_brand_assets" class="form-control" placeholder="Colour scheme, fonts" value="{{ form.brand_assets.value|default:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="id_reference_website">Reference Website</label>
                        <input type="url" name="reference_website" id="id_reference_website" class="form-control" placeholder="www.yourfaviroutewebsite.co.uk" value="{{ form.reference_website.value|default:'' }}">
                    </div>
                    <hr>
                    <!-- Media Content -->
                    <h5 class="customise-form-title-second">Media</h5>
                    <div class="form-group">
                        <label for="id_logo_image">Upload Company Logo</label>
                        <!-- row 1 -->
                        <div class="options-container">
                            <div class="unique-form-check option">
                                <input type="radio" name="logo_option" id="upload_logo" value="upload" onchange="toggleLogoOptions()" class="unique-form-check-input">
                                <label class="unique-form-check-label" for="upload_logo">Upload Company Logo</label>
                            </div>
                            <div class="unique-form-check option">
                                <input type="radio" name="logo_option" id="use_company_name" value="use_name" onchange="toggleLogoOptions()" class="unique-form-check-input">
                                <label class="unique-form-check-label" for="use_company_name">Use Company Name as Logo</label>
                            </div>
                        </div>
                        <input type="file" name="logo_image" id="id_logo_image" class="form-control" style="display: none;">
                    </div>
                    <div class="form-group">
                        <label>Image Upload</label>
                        <!-- row 2 -->
                        <div class="options-container">
                            <div class="unique-form-check option">
                                <input type="radio" name="image_option" id="use_own_images" value="own" onchange="toggleImageOptions()" class="unique-form-check-input">
                                <label class="unique-form-check-label" for="use_own_images">Upload My Images</label>
                            </div>
                            <div class="unique-form-check option">
                                <input type="radio" name="image_option" id="use_stock_images" value="stock" onchange="toggleImageOptions()" class="unique-form-check-input">
                                <label class="unique-form-check-label" for="use_stock_images">Use Stock Images</label>
                            </div>
                        </div>
                        <input type="file" name="upload_images" id="id_upload_images" class="form-control" multiple style="display: none;">
                    </div>
                    <div class="form-group">
                        <label for="id_upload_video">Upload Video (optional)</label>
                        <input type="file" name="upload_video" id="id_upload_video" class="form-control">
                    </div>
                    <hr>
                    <!-- Sign Up -->
                    <h5 class="customise-form-title-second">Sign Up</h5>
                    <!--Name -->
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="id_first_name">First Name</label>
                            <input type="text" name="first_name" id="id_first_name" class="form-control" placeholder="First Name" value="{{ form.first_name.value|default:'' }}">
                        </div>
                    
                        <div class="form-group col">
                            <label for="id_last_name">Last Name</label>
                            <input type="text" name="last_name" id="id_last_name" class="form-control" placeholder="Last Name" value="{{ form.last_name.value|default:'' }}">
                        </div>
                    </div>
                    <!--Email-->
                    <div class="form-group">
                        <label for="id_email">Email Address</label>
                        <input type="email" name="email" id="id_email" class="form-control" placeholder="Email Address" value="{{ form.email.value|default:'' }}">
                    </div>
                    <!--Password -->
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="id_password1">Password</label>
                            <input type="password" name="password1" id="id_password1" class="form-control" placeholder="Password">
                            <small class="customize-form-text-muted">{{ form.password1.help_text|safe }}</small>
                        </div>
      
                        <div class="form-group col">
                            <label for="id_password2">Confirm Password</label>
                            <input type="password" name="password2" id="id_password2" class="form-control" placeholder="Confirm Password">
                            <small class="customize-form-text-muted">{{ form.password2.help_text|safe }}</small>
                        </div>
                    </div>              
                    <p class="form-p-legal">We won't share your information with anyone else.</p>
                    <!--Button -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="btn-primary-customise">Get your design proposal</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
  </div>
<!---Product info section -->
<section class="product-info-section">
    <!-- Product info dropdown -->
    <div class="mb-2">
         <button class="btn btn-link p-0 info-dropdown" type="button" data-bs-toggle="collapse" data-bs-target="#detailedInfo" aria-expanded="false" aria-controls="detailedInfo">
            <h2 id="product-information-title">Product Information &#x25be;</h2> 
        </button>
    </div>
    <!-- Collapsible Details Section -->
        <div class="mb-3">
            <div id="detailedInfo" class="collapse">
                <div class="card-info card-body-related" style="border-radius: 20px;">
                    <h3 id="info-main-title">{{ product.name }}</h3>

                    {% if product.unique_design_info %}
                        <h5 id="info-title">Whats Included:</h5>
                        <p class="lead" id="product-information-p">{{ product.unique_design_info }}</p>
                    {% endif %}

                    {% if product.domain_info %}
                        <h5 id="info-title">Domain Name:</h5>
                        <p class="lead" id="product-information-p">{{ product.domain_info }}</p>
                    {% endif %}

                    {% if product.hosting_info %}
                        <h5 id="info-title">Hosting:</h5>
                        <p class="lead" id="product-information-p">{{ product.hosting_info }}</p>
                    {% endif %}

                    {% if product.logo_info %}
                    <h5 id="info-title">Logo Design:</h5>
                    <p class="lead" id="product-information-p">{{ product.logo_info }}</p>
                    {% endif %}

                    {% if product.support_info %}
                        <h5 id="info-title">After Launch:</h5>
                        <p class="lead" id="product-information-p">{{ product.support_info }}</p>
                    {% endif %}

                    {% if product.seo_info %}
                        <h5 id="info-title">SEO (Search Engine Optimization):</h5>
                        <p class="lead" id="product-information-p">{{ product.seo_info }}</p>
                    {% endif %}

                    {% if product.copy_info %}
                        <h5 id="info-title">Copywriting:</h5>
                        <p class="lead" id="product-information-p">{{ product.copy_info }}</p>
                    {% endif %}

                    {% if product.video_info %}
                        <h5 id="info-title">Media Upload (video):</h5>
                        <p class="lead" id="product-information-p">{{ product.video_info }}</p>
                    {% endif %}


                    {% if product.stock_images_info %}
                        <h5 id="info-title">Stock Images (Optional):</h5>
                        <p class="lead" id="product-information-p">{{ product.stock_images_info }}</p>
                    {% endif %}

                    {% if product.guarantee_info %}
                        <hr>
                        <h3 class="guarantee-title">Money Back Guarantee</h3>
                        <p id="product-information-p">{{ product.guarantee_info }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
</section>
<!-- Related products -->
<section class="py-2 bg-light">
    <div class="container px-0 px-lg-0 my-2">
        <h2 class="fw-bolder mb-4" id="related-main-title">Related Products</h2>
        <!-- Carousel for large screens -->
        <div id="relatedProductsCarouselLg" class="carousel slide d-none d-lg-block" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for related_product in related_products %}
                {% if forloop.first %}<div class="carousel-item active"><div class="row gx-4 gx-lg-5">{% elif forloop.counter|divisibleby:4 %}</div></div><div class="carousel-item"><div class="row gx-4 gx-lg-5">{% endif %}
                    <div class="col-12 col-md-6 col-lg-3 mb-5">
                        <div class="related-product-card h-100">
                            <a  id="link-blue-remove" href="{% url 'product' related_product.id %}">
                                <div class="related-img-container">
                                    <img class="card-img-top" src="{{ related_product.images.first.image.url }}" alt="{{ related_product.name }}"/>
                                </div>
                                <div class="card-body p-4 related-card-body">
                                    <div class="text-center">
                                        <h5 class="fw-bolder related-product-title">{{ related_product.name }}</h5>
                                        <div class="related-product-price">
                                            {% if related_product.on_sale %}
                                            <strike class='text-muted me-2'>£{{ related_product.price }}</strike> £{{ related_product.sale_price }}
                                            {% else %}
                                            £{{ related_product.price }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="card-footer p-2 pt-0 border-top-0 bg-transparent related-card-footer">
                                <div class="text-center">
                                    <a id="related-product-button class="btn btn-outline-dark mt-auto related-home-product-button" href="{% url 'product' related_product.id %}">View Product</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div></div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#relatedProductsCarouselLg" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#relatedProductsCarouselLg" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Carousel for mobile screens -->
        <div id="relatedProductsCarouselSm" class="carousel slide d-lg-none" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for related_product in related_products %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="row gx-4 gx-lg-5">
                        <div class="col-12 mb-5">
                            <div class="related-product-card h-100">
                                <a id="link-blue-remove" href="{% url 'product' related_product.id %}">
                                    <div class="related-img-container">
                                        <img class="card-img-top" src="{{ related_product.images.first.image.url }}" alt="{{ related_product.name }}"/>
                                    </div>
                                    <div class="card-body p-4 related-card-body" id="related-home-product-button">
                                        <div class="text-center">
                                            <h5 class="fw-bolder related-product-title">{{ related_product.name }}</h5>
                                            <div class="related-product-price">
                                                {% if related_product.on_sale %}
                                                <strike class='text-muted me-2'>£{{ related_product.price }}</strike> £{{ related_product.sale_price }}
                                                {% else %}
                                                £{{ related_product.price }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="card-footer p-2 pt-0 border-top-0 bg-transparent related-card-footer">
                                    <div class="text-center">
                                        <a id="related-product-button" class="btn mt-auto" href="{% url 'product' related_product.id %}">View Product</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#relatedProductsCarouselSm" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#relatedProductsCarouselSm" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
<script>
    // Function to add product to cart
    $(document).on('click', '#add-cart', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart_add" %}',
            data: {
                product_id: $(this).val(),  
                product_qty: $('#qty-cart').val(),  
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json) {
                console.log(json);
                document.getElementById("cart_quantity").textContent = json.qty;
            },
            error: function(xhr, errmsg, err) {
                console.error(errmsg);
            }
        });
    });

    // Function to show image modal
    function showImageModal(imageUrl) {
        var modalImg = document.getElementById('modal-img');
        modalImg.src = imageUrl;
        var imageModal = new bootstrap.Modal(document.getElementById('imageModal'));
        imageModal.show();
    }

    // Function to handle modal display
    document.addEventListener('DOMContentLoaded', function() {
        const modal = document.getElementById('customizeFormModal');
        const openBtn = document.getElementById('openModalBtn');
        const closeBtn = document.querySelector('.closeBtn');

        openBtn.onclick = function() {
            modal.style.display = 'block';
        }

        closeBtn.onclick = function() {
            modal.style.display = 'none';
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        }
    });

</script>

{% endblock %}