{% extends 'base.html' %}
{% block content %}

<!-- Product section -->

<section class="py-2">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <div id="carouselProductDetail{{ product.id }}" class="carousel slide">
                    <div class="carousel-inner">
                        {% for image in product.images.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div id="img-container">
                                <img class="d-block w-100" id="detail-img" src="{{ image.image.url }}" alt="Product Image {{ forloop.counter }}">
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselProductDetail{{ product.id }}" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselProductDetail{{ product.id }}" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <!--Product Name-->
                <h1 class="display-5 fw-bolder" id="product-detail-title">Our {{ product.name }} - Landing Page</h1>

                
                <div class="d-flex flex-column">
                    
                <!-- Basic Description -->

                 <div class="mb-2">
                    <p class="product-details">{{ product.description }}</p>
                 </div>

                    
                    <!-- What's Included Dropdown -->

                    <div class="mb-3">
                        <button class="btn btn-link p-0 include-dropdown" type="button" data-bs-toggle="collapse" data-bs-target="#whatsIncluded" aria-expanded="false" aria-controls="whatsIncluded" id="detail-dropdown">
                            What's Included &#x25be;
                        </button>
                        <div id="whatsIncluded" class="collapse">
                            <ul class="include-list">
                                {% for benefit in product.benefits.all %}
                                    <li><i class="fa-solid fa-circle dropdown-circle"></i>{{ benefit.description }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                     <!-- Product Price -->
                  <div class="mb-2">
                    {% if product.on_sale %}
                    <div class="price">
                        <strike class="text-muted me-2">£{{ product.price }}</strike>
                        £{{ product.sale_price }}
                    </div>
                    {% else %}
                    <div class="price">£{{ product.price }}</div>
                    {% endif %}
                </div>

                    <!-- Value Add -->
                    <div class="d-flex align-items-center mb-3 value-add">
                        <div class="me-3">
                        <i class="fa-regular fa-clock value-icons"></i> 2-day delivery
                        </div>
                        <div class="me-3">
                        <i class="fa-solid fa-headset value-icons"></i> 24-7 Support
                        </div>
                        <div class="me-3">
                        <i class="fa-solid fa-rotate value-icons"></i> Unlimited Revisions Until Launch
                        </div>
                    </div>

            
                    <!-- Continue Button -->
                    <div class="d-grid">
                        <a class="btn btn-dark" href="{% url 'register_and_customize' %}">
                            Continue <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>




<!---Product info section -->

<section class="product-info-section">
    <!-- Product info dropdown -->
    <div class="mb-2">
         <button class="btn btn-link p-0 info-dropdown" type="button" data-bs-toggle="collapse" data-bs-target="#detailedInfo" aria-expanded="false" aria-controls="detailedInfo">
            <h2>Product Information &#x25be;</h2> 
        </button>
    </div>

    <!-- Collapsible Details Section -->
    <div class="mb-3">
        <div id="detailedInfo" class="collapse">
            <div class="card card-body">
                <h3>Our {{ product.name }} Plan</h3>
                <p class="lead product-details">{{ product.description }}</p>
            </div>
        </div>
    </div>
</section>









<!-- Related products -->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 my-5">
        <h2 class="fw-bolder mb-4">Related Products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for related_product in related_products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image -->
                    <img class="card-img-top" src="{{ related_product.images.first.image.url }}" alt="..." />
                    <!-- Product details -->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name -->
                            <h5 class="fw-bolder">{{ related_product.name }}</h5>
                            <!-- Product price -->
                            {% if related_product.on_sale %}
                            <strike class="text-muted me-2">£{{ related_product.price }}</strike>
                            £{{ related_product.sale_price }}
                            {% else %}
                            £{{ related_product.price }}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Product actions -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' related_product.id %}">View Product</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<script>
    $(document).on('click', '#add-cart', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart_add" %}',
            data: {
                product_id: $(this).val(),  // get the product ID from the button's value
                product_qty: $('#qty-cart').val(),  // Get the selected quantity value
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json) {
                console.log(json);
                document.getElementById("cart_quantity").textContent = json.qty;
            },
            error: function(xhr, errmsg, err) {
                console.error(errmsg);
            }
        });
    });
</script>

{% endblock %}