{% extends 'base.html' %}
{% block content %}

<!-- Product section -->

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                <div id="carouselProductDetail{{ product.id }}" class="carousel slide">
                    <div class="carousel-inner">
                        {% for image in product.images.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img class="d-block w-100" src="{{ image.image.url }}" alt="Product Image {{ forloop.counter }}">
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselProductDetail{{ product.id }}" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselProductDetail{{ product.id }}" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                <p class="lead">{{ product.description }}</p>
                <div class="d-flex">
                    {% if product.on_sale %}
                    <div class="price">
                        <strike class="text-muted me-2">£{{ product.price }}</strike>
                        £{{ product.sale_price }}
                    </div>
                    {% else %}
                    <div class="price">£{{ product.price }}</div>
                    {% endif %}
                </div>
                <br><br>
                <div class="col-md-2">
                    <select class="form-select" aria-label="Default select example" id="qty-cart" style="display: none;">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <br>
                <div class="d-flex">
                    <button class="btn btn-dark me-2" type="button" value="{{ product.id }}" id="add-cart">
                        <i class="bi-cart-fill me-1"></i> Save to Cart
                    </button>
                    <button type="button" class="btn ms-2 d-flex flex-column align-items-center" data-bs-toggle="modal" data-bs-target=".customise-modal" id="customise-btn">
                        <span>Customise and Pay</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Related products -->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 my-5">
        <h2 class="fw-bolder mb-4">Related Products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for related_product in related_products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image -->
                    <img class="card-img-top" src="{{ related_product.images.first.image.url }}" alt="..." />
                    <!-- Product details -->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name -->
                            <h5 class="fw-bolder">{{ related_product.name }}</h5>
                            <!-- Product price -->
                            {% if related_product.on_sale %}
                            <strike class="text-muted me-2">£{{ related_product.price }}</strike>
                            £{{ related_product.sale_price }}
                            {% else %}
                            £{{ related_product.price }}
                            {% endif %}
                        </div>
                    </div>
                    <!-- Product actions -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'product' related_product.id %}">View Product</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<script>
    $(document).on('click', '#add-cart', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart_add" %}',
            data: {
                product_id: $(this).val(),  // get the product ID from the button's value
                product_qty: $('#qty-cart').val(),  // Get the selected quantity value
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json) {
                console.log(json);
                document.getElementById("cart_quantity").textContent = json.qty;
            },
            error: function(xhr, errmsg, err) {
                console.error(errmsg);
            }
        });
    });
</script>

{% endblock %}