{% extends 'base.html' %}
{% block content %}
<section class="py-5 customize-form-section">
<div class="container px-4 px-lg-5">
    <div class="row justify-content-center"> 
        <div class="card-body customize-form-modal-body"> 
            <h2 class="card-title text-center">Update User Information</h2>
            <form method="POST" action="{% url 'update_user' %}">
            {% csrf_token %}
            {{ user_form.as_p }}
            <div class="d-grid gap-2 mt-3"> 
                <button type="submit" class="btn btn-primary btn-lg">Confirm Changes</button>
            </div>
            </form>
            <hr class="my-4"> 
            <div class="text-center"> 
                <a href="{% url 'update_password' %}" class="btn btn-link">Change Password</a> 
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}